/* src/App.css */
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

/* Ajuste general de la tarjeta de producto */
.card {
  background-color: #1a1a1a;
  color: #f8f9fa;
  border: 1px solid #333;
}

.card-title {
  color: #00d1ff;
}
